<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Approval</title>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%"
        style="background-color: #f4f4f4; padding: 20px;">
        <tr>
            <td align="center">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600"
                    style="background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; padding: 20px; text-align: center;">
                    <tr>
                        <td style="padding: 10px 0; font-size: 18px; font-weight: bold; color: #333;">Dear, K.{{.Username}}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0; font-size: 16px; color: #0eb924;">{{.Detail}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0;">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center"
                                style="margin: 0 auto;">
                                <tr>
                                    <td>
                                        <a href="{{.LinkApporve}}"
                                            style="display: inline-block; padding: 10px 20px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;" target="_blank">Approve</a>
                                    </td>
                                    <td style="width: 10px;">&nbsp;</td>
                                    <td>
                                        <a href="{{.LinkReject}}"
                                            style="display: inline-block; padding: 10px 20px; background-color: #dc3545; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;" target="_blank">Reject</a>
                                    </td>
                                    <td style="width: 10px;">&nbsp;</td>
                                    <td>
                                        <a href="{{.LinkPreview}}"
                                            style="display: inline-block; padding: 10px 20px; background-color: #ffc107; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;" target="_blank">Review</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>